/*General suggestions:
- Add responsive resizing
- Add a nav bar
*/

body {
border: 1px solid green;
padding: 1em;
width: 50em;
height: 45.5em;
font-family: fantasy;
margin: 2em auto;
/*Text size is a little small. I'd recommend making it bigger*/
}
h1 {
text-align: center;

}
h2 {
  text-align: left;
}
p {
  /*Add some padding around text*/

}
img {
float: left;
padding-right: 0.15em; /*Increase padding around image*/

}
a {

}
a.active {

}
nav {
  text-align: center;
}
main {
border-color: green;
border-width: thin;
border-style: inset;
padding: 0.15em;
background-color: grey; /*Contrast between text and background color is hard on eyes*/
background-size: contain;

}
header {
text-align: center;
}
footer {
text-align: center;
padding-top: 10px;
}
